<meta http-equiv="refresh" content="5; url = information" />
<link rel="stylesheet" href="/css/related-people/related.css" />
<link rel="stylesheet" href="/css/related-people/buy-success.css" />
<div class="content" style="padding: 20px 20px;">
  <div class="path">

  </div>

  <div id="success-notification-container">
    <img src="/images/related-people/success.png" alt="success_img" /><br />
    <div id="success-text">ĐÃ ĐẶT HÀNG THÀNH CÔNG</div>

    <div class="snippet" data-title=".dot-pulse">
      <div class="stage">
        <div class="dot-pulse"></div>
      </div>
    </div>

    <div id="return-home">
      <a href="information">TRỞ LẠI TRANG CÁ NHÂN</a>
      (Tự chuyển trang sau 5s)
    </div>
  </div>
</div>