.searchbar{
    width: 30% !important;
    min-width: 400px !important;
}

#package-filters{
    margin: 20px 100px;
}


#package-list{
    display: flex;
    justify-content: center;
}

.dropdown-toggle{
    background-color: white !important;
    border-color: #398AB9;
}

#go-to-cart{
    position: fixed;    
    bottom: 50px;
    right: 2%;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    z-index: 11;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    animation: shake 1s; 
    animation-iteration-count: infinite; 
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

#go-to-cart img{
    width: 50px;
    height: 50px;
}

.card-view{
    min-width: 250px;
    max-width: 340px;
    display: flex;
    flex-direction: column;
    border: solid 1px black;
    border-radius: 10px;
    overflow:hidden;
    margin: 10px auto;
}

.image-details{
    display: flex;  
}

.price-amount{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #EEEEEE;
    padding: 5px 20px;
}

.image-details img{
    width: 150px;
    height: 150px;
    align-self: center;
}


.package-detail p{
    margin-left: 2px;
    font-size: smaller;
}

.amount-modify {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

#current-amount,
#decrease,
#increase {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 1.5rem;
    width: 1.5rem;
    margin-right: 10px;
}

#decrease, #increase{
    border-radius: 5px;
}

.add-to-cart img{
    width: 30px;
    height: 30px;
}