#package-filters{
    display: flex;
    justify-content: space-between;
    margin: 20px 100px;
}


#package-list{
    display: flex;
    justify-content: center;

}

.dropdown-toggle{
    background-color: white !important;
    border-color: #398AB9;
}


.card-view{
    display: flex;
    flex-direction: column;
    border: solid 1px black;
    border-radius: 10px;
    overflow:hidden;
    margin: 10px auto;
}

.image-details{
    display: flex;  
}

.price-amount{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #EEEEEE;
    padding: 5px 20px;
}

.image-details img{
    width: 150px;
    height: 150px;
}


.package-detail p{
    margin-left: 2px;
    font-size: smaller;
}

.add-to-cart img{
    width: 30px;
    height: 30px;
}