:root {
  --blue1: #1C658C;
  --blue2: #398AB9;
  --grey1: #D8D2CB;
  --grey2: #EEEEEE;
}
body{
  font-family: "Roboto", sans-serif;
  margin:0px;
  background-color: var(--grey2);
} 
/*navbar*/
.navbar{
  background-color: var(--grey2) !important;
  display:flex;
  justify-content:space-between;
  border-bottom: 2px solid var(--blue1);
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2), 0 0 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 100;
}
.nav-list{
  list-style-type: none;
  display:inline-block;
}
.navbar-nav li{
  display:inline-block;
  margin:10px;
}
.nav-links{
  text-decoration: none;
  color:var(--blue1);
  font-weight: bold;
}
.nav-menu{
  align-self: center;
  padding: 20px;
  color: var(--blue1);
}

#navbarSupportedContent li a {
  font-family: "Roboto", sans-serif !important;
  color: var(--blue1) !important;
  font-weight: bold !important;
}

.banner{
  width:100%;
  position: absolute;
  z-index: -1;
}

.breadcrumb-item.active {
  font-size: 12pt;
  color: #a19c9c;
}

.breadcrumb-item a{
  color: #a19c9c;
  text-decoration: none;
}

.breadcrumb-item a:hover {
  color: #a19c9c;
  text-decoration: underline;
}

.nav-breadcrumb{
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/*footer*/
.footer{
  background-color: var(--blue1);
  width:100%;
  margin-top:50px;
}
.footer-top{
  position: relative;
  width:100%;
  display: flex;
  justify-content: center;
}
.footer-box{
  margin: 20px 7% 20px 7%;
  width: 20%;
  color:white;
 
}
.footer-bottom{
  color:white;
}
.footer-bottom-slogan{
  height:40px;
  margin: 1%;
  margin-bottom:0px;
}

  

  
  