.container{
    padding-top: 5px;
    margin: auto;
    width:80%;
    height:560px;
    background-color: white;
    margin-top: 100px;
    z-index: 10;
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.nav-breadcrumb{
    margin-left: 10px;
}

.content-min{
    border: 1px solid black !important; 
    margin: auto;
    width:60%;
    height:460px;
    background-color: #eeeeee;
    padding-top:50px;
}

.form-heading{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16pt;
    text-align: center;
}

.form-add-manager{
    margin: 0% 10%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.form-group.row{
    background-color: #c4c4c4;
    margin-bottom: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.form-group label{
    font-weight: bold;
    white-space: nowrap;
}

.add-manager-table tr{
    height: calc(100% + 10px);
}

.row.button{
    text-align: center;
    margin-top: 10px;
}

.btn{
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold;
    background-color: #398AB9;
    font-size: 10pt;
    padding: 10px 30px;
}

input[type="text"],input[type="password"]{
    border-radius: 0;
}

input[type="checkbox"]{
    width: 20px;
    height: 20px;
}
  /*        Large devices only      */
  @media (min-width: 1200px){
}

/*        Medium devices only      */
@media (min-width: 992px) and (max-width: 1199px){

}

/*        Small devices only      */
@media (min-width: 759px) and (max-width: 767px){
    .container{
        height: 560px;
    }

    .content-min{
        height: 480px;
    }

    input[type="checkbox"]{
        width: 12px;
        height: 12px;
    }
} 
/*        Extra small devices only      */
/* @media (max-width: 649px){
    .container{
        height: 600px;
    }

    .content{
        height: 520px;
    }

    input[type="checkbox"]{
        width: 12px;
        height: 12px;
    }

} */

/*        Super extra small devices only (iPhone 4)     */
@media (min-width: 576px) and (max-width: 758px) {
    .container{
        height: 620px;
    }

    .content-min{
        height: 520px;
    }

    input[type="checkbox"]{
        width: 12px;
        height: 12px;
    }

}

@media only screen and (max-width: 575px) {
    .container{
        box-shadow: none;
        margin-top: 10px;
        width: 100%;
    }
    body{
        background-color: white;
    }
    .banner{
        position: relative;
    }
    .searchbar-input{
        background-color: #ffffff;
        width: 80%;
    }

    .content-min{
        height: 670px;
    }

    #num-row label{
        width: 50%;
        font-size: 10pt;
    }
    .footer-top{
        flex-direction: column;
    }
    .footer-box{
        width: 86%;
    }
}
