:root {
    --blue1: #1C658C;
    --blue2: #398AB9;
    --grey1: #D8D2CB;
    --grey2: #EEEEEE;
  }
.table-lock{
   text-align: center; 
   color:#1C658C;
   width:20%;
}

.side-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 480px;
    border: 3px solid #D8D2CB;
    padding: 10px 20px;
    background-color: #EEEEEE;
}

.avatar {
    width:120%;
    height: auto;
    overflow: hidden;
    border-radius: 50%;
    align-self: center;
}

.full-name-manager{
    font-size: 20sp;
    font-weight: bold;
    text-align: center;
}

.button{
    text-align: center;
}

.custom-btn{
    padding: 10px 20px;
}
.container{
    padding-top: 5px;
    margin: auto;
    width:80%;
    height: 560px;
    background-color: white;
    margin-top: 100px;
    z-index: 10;
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.content{
    margin: auto;
    width:86%;
    height:500px;
}

.form-heading{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20pt;
}

.add-manager-table tr{
    height: calc(100% + 10px);
}

table{
    width: 100%;
    margin-top: 0px;
}

thead, tbody { display: block; }
thead:first-child{
    width: 8%;
}
thead:last-child{
    width: 20%;
}
tbody {   
    height: 400px;
    overflow-y: auto;    
    overflow-x: hidden;  
}

#manager-history-table{
    height: 500px;
}

.th-style{
    text-align: center;
    background-color: var(--grey1);
    padding: 3px;
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
}


@media (max-width: 767px){
    .container{
        height: 700px;
    }
    .avatar{
        display: none;
    }
    .side-info {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        height: 80px;
        border: 3px solid #D8D2CB;
        padding: 10px 20px;
        background-color: #EEEEEE;
    }
}


