#package-detail{
    width: 90%;
    margin:20px auto;
}
.header h5{
    font-weight: bold;
}
.header{
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid black;
}
#info{
    display:grid;
    grid-template-columns: 1fr 2fr;
    padding: 10px 20px;
    gap: 10px;
}
#product-detail-img{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height: 100%;
    background-color: var(--grey1);
}
#basic-info{
    display: grid;
    grid-template-columns: auto;
    gap: 5px;
}
.info-row{
    display: flex;
}
#basic-info label{
    display: flex;
    align-items: center;
    width: 50%;
    height: 100%;
    font-weight: bold;
    background-color: var(--grey1);
    padding:0 5px;
}
#basic-info p{
    display: flex;
    align-items: center;
    width: 50%;
    height:100%;
    background-color: var(--grey2);
    border: 1px solid var(--grey1);
    padding:0 5px;
}
#package-products{
    padding: 10px 20px;
}
#package-product-list{
    display: flex;
    flex-wrap: wrap;
}
.product-cardview{
    width:200px;
    height:260px;
    background-color: var(--grey1);
    border-radius: 20px;
    border: 2px solid var(--grey1);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-right: 10px;
    margin-bottom: 10px;
}
.product-cardview:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}
.product-cardview img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width:auto;
    max-width: 100%;
    height:74%;
}
.product-cardview-box{
    display:flex;
    width:100%;
    height:26%;
    justify-content: space-between;
}
.product-cardview-info{
    display: flex;
    flex-direction:column;
    justify-content: center;
    max-width: 80%;
}
.product-cardview-input::before{
    content: "";
    position: absolute;
    left: 0px;
    top: 10%;
    height: 80%;
    width: 1px;
    background:var(--line-color);
}
.product-cardview-input{
    position: relative;
    width:30%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:5%;
}
.product-cardview-input input{
    width: 100%;
}
.product-cardview-action{
    position: relative;
    width:10%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:5%;
}
.product-cardview-action::before{
    content: "";
    position: absolute;
    left: -5px;
    top: 10%;
    height: 80%;
    width: 1px;
    background:var(--line-color);
}
.product-cardview-action span{
    color:#1C658C;
    cursor: pointer;

}
.product-cardview-info a, .product-cardview-info p{
    padding:5px;
    margin: 0px;
    font-size: 20sp;
    font-weight: bold;
}
.product-cardview-info p{
    color:var(--price-color);
}
.product-cardview-info a{
    text-decoration: none;
    color:black;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
    -webkit-box-orient: vertical;
    line-height: 30px; /* fallback */
    max-height: 30px;
}
#label-price{
    display: flex;
    align-items: center;
    width:30%;
    height:100%;
    color: white;
    border: 2px solid var(--blue2);
    background-color: var(--blue2);
    padding: 0 10px;
}
#package-total-price{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width:70%;
    height:100%;
    color: #B01D1D;
    border: 2px solid var(--blue2);
    font-weight: bold;
    background-color: var(--grey2);
    padding: 0 10px;
}