:root {
    --blue1: #1C658C;
    --blue2: #398AB9;
    --grey1: #D8D2CB;
    --grey2: #EEEEEE;
    --price-color: #B01D1D;
    --line-color:#A19C9C;
}
.my-btn{
    cursor:pointer;
}
/* Danh sách gói sản phẩm*/
.content{
    padding:20px;
}
.path a{
    text-decoration: none;
    color:#A19C9C;
    font-size: 24sp;
}
.searchbar{
    margin-top:20px;
}
table, tr, th, td{
    border: 3px solid var(--grey1);
}
table{
    border-collapse: collapse;
    width: 60%;
    margin:auto;
    margin-top:50px;
}
th{
    background-color: var(--grey1);
}
.table-stt{
    width:5%;
    text-align: center;
}
.table-button{
   text-align: center; 
   color:#1C658C;
   width:10%;
}
.table-price{
    text-align: right;
}
.table-button span{
    margin-left: 5px;
    margin-right:5px;
    cursor: pointer;
}
.button-add{
    position: fixed;
    bottom:50px;
    right:3%;
    background-color: var(--blue2);
    border-radius: 50%;
    width:4em;
    height:4em;
    z-index: 11;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.button-add i{
    align-self: center;
    color: white;
    cursor: pointer;
}
.content{
    height:auto;
}
.invisible{
    display:none;
}