:root {
    --blue1: #1C658C;
    --blue2: #398AB9;
    --grey1: #D8D2CB;
    --grey2: #EEEEEE;
}
body{
    font-family: "Roboto", sans-serif;
    margin:0px;
    background-color: var(--grey2);
} 
.searchbar{
    width: 500px;
    border: 3px solid var(--blue1);
    outline: none;
    border-radius: 30px;
    padding-left: 10px;
    margin:auto;
}
.searchbar-input{
    width: 90%;
    border: none;
    outline: none;
    padding-left: 10px;
}
.searchbar i{
    cursor: pointer;
}

/*footer*/
/*
.footer{
    position: relative;
    background-color: var(--blue1);
    width:100%;
    margin-top:50px;
    z-index: 12;
}
.footer-top{
    position: relative;
    width:100%;
    display: flex;
    justify-content: center;
}
.footer-box{
    margin: 20px;
    width: 250px;
    color:white;
   
}
.footer-bottom{
    color:white;
}
.footer-bottom-slogan{
    height:40px;
    margin: 1%;
    margin-bottom:0px;
}

*/

/*footer*/
.footer{
    background-color: var(--blue1);
    width:100%;
    margin-top:50px;
}
.footer-top{
    position: relative;
    width:100%;
    display: flex;
    justify-content: center;
}
.footer-box{
    margin: 20px 7% 20px 7%;
    width: 20%;
    color:white;
   
}
.footer-bottom{
    color:white;
}
.footer-bottom-slogan{
    height:40px;
    margin: 1%;
    margin-bottom:0px;
}

/*navbar*/
.navbar{
    background-color: var(--grey2);
    position: sticky;
    top:0;
    display:flex;
    justify-content:space-between;
    align-items: center;
    border-bottom: 2px solid var(--blue1);
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2), 0 0 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 100;
}
.logo-img{
    height:60px;
    align-self:center;
}
.nav-list{
    list-style-type: none;
    display:inline-block;
}
li{
    display:inline-block;
    margin: 0 10px;
}
.nav-links{
    text-decoration: none;
    color:var(--blue1);
    font-weight: bold;
}
.nav-menu{
    align-self: center;
    padding: 0 20px;
    color: var(--blue1);
}

.banner{
    width:100%;
    position: absolute;
    z-index: -1;
}

.content{
    margin: auto;
    width:80%;
    height:auto;
    background-color: white;
    margin-top: 100px;
    z-index: 10;
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-top:50px;
}
@media only screen and (max-width: 800px) {
    .searchbar{
        width:90%;
    }
}
