<section class="container py-5" style="height:800px">
    <h1 class="welcome">Chào mừng đến với hệ thống quản lý Covid-19</h1>

    <div class="login-form py-5 px-5">
        <form>
            <div class="form-floating mb-3">
                <input class="form-control border-2 border-dark" id="floatingInput" placeholder="0123456789">
                <label for="floatingInput">Số CMND/CCCD</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control border-2 border-dark" id="floatingPassword"
                    placeholder="Mật khẩu">
                <label for="floatingPassword">Mật khẩu</label>
            </div>
            <button type="submit" class="sign-in">ĐĂNG NHẬP</button>
        </form>
        <a href="#" class="password-missing">Quên mật khẩu?</a>
    </div>

    <div style="clear:both; float:right; max-width: 500px; padding-top: 50px;">
        <h3 style="font-style: italic;">Bạn muốn vào phân hệ người dùng nào?</h3>
        <ul>
            <li><a style="font-style: italic;" href="./admin/">QUẢN TRỊ VIÊN</a>
            </li>
            <li><a style="font-style: italic;" href="./manager">NGƯỜI QUẢN LÝ</a></li>
            <li><a style="font-style: italic;" href="./related-people/">NGƯỜI ĐƯỢC QUẢN LÝ</a></li>
        </ul>
        <div style="font-style: italic;">(Phần này chỉ phục vụ việc chuyển luồng đến các phân hệ người dùng và
            sẽ không xuất hiện trong sản phẩm cuối cùng.)</h3>
        </div>

</section>