<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="./">
            <img class="logo-img" src="../../images/Logo.png" alt="logo">
        </a>
        {{#isGuest}}
        {{else}}
        <div id="togglers">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="btn-group" style="float:right;">
                <button type="button" class="avt btn rounded-circle" data-bs-toggle="dropdown" aria-expanded="false">
                    <img class="rounded-circle" src="../../images/avatar.jpg" style="width:50px; " />
                </button>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li><a class="dropdown-item" href="../../admin/admin-account.html">ĐỔI MẬT
                            KHẨU</a></li>
                    <li><a class="dropdown-item" href="../../index.html">ĐĂNG XUẤT</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            {{#isAdmin}}
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav m-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            QUẢN LÝ
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/admin/manager">XEM DANH
                                    SÁCH</a>
                            </li>
                            <li><a class="dropdown-item" href="/admin/manager/add">THÊM NGƯỜI QUẢN
                                    LÝ</a></li>
                            <li><a class="dropdown-item" href="/admin/manager/history">LỊCH
                                    SỬ
                                    HOẠT ĐỘNG</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            ĐỊA ĐIỂM
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/admin/address">XEM DANH
                                    SÁCH</a></li>
                            <li><a class="dropdown-item" href="/admin/address/add">THÊM ĐỊA
                                    ĐIỂM</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                
            </div>
            {{/isAdmin}}
            {{#isManager}}
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav m-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="#">NGƯỜI LIÊN QUAN COVID-19</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            NHU YẾU PHẨM
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">GÓI SẢN PHẨM</a></li>
                            <li><a class="dropdown-item" href="./products/product-list-page.html">SẢN PHẨM</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">THỐNG KÊ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">THANH TOÁN</a>
                    </li>
                </ul>
            </div>
            {{/isManager}}
            {{#isRelatedPeople}}
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav m-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="information.html">THÔNG TIN CÁ NHÂN</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="package-list.html">NHU YẾU PHẨM</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">TÀI KHOẢN</a>
                    </li>
                </ul>
            </div>
            {{/isRelatedPeople}}
        </div>
        {{/isGuest}}
    </div>
</nav>