<link rel="stylesheet" href="/css/manager/related-people/style.css">

<div class="content">
    <div class="path">
        <a href="../index.html">Trang chủ > </a>
        <a href="product-list-page.html">Người liên quan covid > </a>
        <a href="product-list-page.html">Thêm người</a>
    </div>
    <div class="add-product">
        <h2 style="font-size:30px;">THÊM NGƯỜI LIÊN QUAN COVID-19</h2>
        <form>
            <div class="mb-3">
                <label for="name" class="form-label">Họ và tên</label>
                <input type="text" class="form-control" id="name" placeholder="Nhập họ và tên">
            </div>
            <div class="mb-3">
                <label for="identityID" class="form-label">Số CMND/CCCD</label>
                <input type="text" class="form-control" id="identityID" placeholder="Nhập số CMND/CCCD">
            </div>
            <div class="mb-3">
                <label for="gender" class="form-label">Giới tính</label>
                <select class="form-select" id="gender" aria-label="Default select example">
                    <option selected disabled> Chọn giới tính </option>
                    <option value="male">Nam</option>
                    <option value="female">Nữ</option>
                    <option value="other">Khác</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="yearOfBirth" class="form-label">Năm sinh</label>
                <input type="number" class="form-control" id="yearOfBirth" placeholder="Nhập năm sinh">
            </div>
            <div class="mb-3">
                <label for="address" class="form-label">Địa chỉ nơi ở</label>
                <input type="text" class="form-control" id="address" placeholder="Nhập năm sinh">
            </div>
            <div class="mb-3">
                <label for="status" class="form-label">Trạng thái hiện tại</label>
                <select class="form-select" id="status" aria-label="Default select example">
                    <option selected disabled> Chọn trạng thái </option>
                    <option value="F0">F0</option>
                    <option value="F1">F1</option>
                    <option value="F2">F2</option>
                    <option value="F3">F3</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="treatmentPlace" class="form-label">Nơi điều trị</label>
                <select class="form-select" id="treatmentPlace" aria-label="Default select example">
                    <option selected disabled> Chọn nơi điều trị </option>
                    <option value="001">Thủ Đức</option>
                </select>
            </div>
            <button type="submit" class="sign-in">ĐĂNG NHẬP</button>
        </form>
    </div>
</div>