<link rel="stylesheet" href="/css/manager/related-people/style.css">

<div class="content">
    <div class="path">
        <a href="../index.html">Trang chủ > </a>
        <a href="./">Người liên quan Covid-19 > </a>
        <a href="./">Danh sách người liên quan Covid-19</a>
    </div>
    <div class="searchbar">
        <input type="text" class="searchbar-input" placeholder="Tìm kiếm người liên quan Covid-19">
        <i class="fa-solid fa-magnifying-glass"></i>
    </div>
    
    <div id="table"></div>

    <div class="page-container">
        <button class="first-page" disabled>
            <i class="fas fa-angle-double-left"></i>
        </button>
        <button class="prev-page" disabled>
            <i class="fas fa-angle-left"></i>
        </button>
        <div id="pagination"></div>
        <button class="next-page">
            <i class="fas fa-angle-right"></i>
        </button>
        <button class="last-page">
            <i class="fas fa-angle-double-right"></i>
        </button>
    </div>
    <a href="add-product-page.html">
        <div class="button-add">
            <i class="fa-solid fa-plus fa-3x"></i>
        </div>
    </a>
</div>
